# Compiled output
/dist
/build
.tsbuildinfo

# Prevent committing compiled JS/types inside src directory
src/**/*.js
src/**/*.js.map
src/**/*.d.ts

# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & Temp
.DS_Store
Thumbs.db
.temp
.tmp

# Tests & Coverage
/coverage
/.nyc_output

# IDEs and Editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.env

pids
*.pid
*.seed
*.pid.lock

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.tar.zst
*.tar.zst-meta.json
*.tar.zst-manifest.json
*.tar.zst*
*.tar.zst*
*-manifest.json
*-meta.json
